.body{
    background-color:gray;
}
.main-btn{
    background-color: orangered;
    padding: 8px 20px;
    text-align: center;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.main-btn::after{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(80, 80, 82) ;
    z-index: -1;
    transition: transform 200ms ease-in;
}
.main-btn::after{
    transform: scaleX(0);
    transform-origin: right;   
}
.main-btn:hover::after{
    transform: scaleX(1);
    transform-origin: left; 
}
.cards1:hover{
    transform: translateY(-20px);
    transition: transform 1s ease;
}
.cards-opacity{
    opacity: 1px;
}

/* .bottom-line{
    background-color: orangered;
    width: 100%;
    height: 1vh;
   position: absolute;
   top:535px;
   right: 1px;
   transform: scale(0,1);
   transform-origin: 0% 100%;
   transition: transform 0.3s ease;
   transform-origin: left;
    opacity: 0;
} */
.bottom-line{
    position: relative;
}
.bottom-line::after{

    content: "";
    position: absolute;
    left:-15px;
    width: 110%;
    height: 6px;
    right: 0px;
    top: 25px;
    bottom: 0px;
    background: orangered;
    transform: scale(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}
.card:hover .bottom-line::after{
    transform: scaleX(1);
    transform-origin: left;
}
/* .card:hover .bottom-line{
    opacity: 1;
   transform: scale(1,1);
   
} */

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-img-top{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border: 20px solid white;
}
.owl-prev{
    left:-30px
}
.owl-next{
    right: -30px;
}
.owl-prev , .owl-next{
    position: absolute;
    top: 90px;
}
.owl-prev span , .owl-next span{
    font-size: 80px;
    color:rgb(187, 183, 183);
}
.owl-next span:hover,
.owl-prev span:hover{
    background-color: white;
    height: 10vh;
    color: black;
}
.carousel .owl-next,
.carousel .owl-prev{
    background-color: white !important;
}
